<ion-content color="primary">
  <div class="menu" color="primary">
    
    <ion-button color="warning" expand="block" routerLink="/dashboard" routerDirection="forward">
      Rent a car
      <ion-icon slot="start" name="car"></ion-icon>
    </ion-button>
    <ion-button color="warning" expand="block" routerLink="/profil" routerDirection="forward">
      Profil
      <ion-icon name="star" slot="start"></ion-icon>
    </ion-button>
    <ion-button color="warning" expand="block" routerLink="/history" routerDirection="back">
      History
      <ion-icon slot="start" name="archive"></ion-icon>
      </ion-button>
      <ion-button color="warning" expand="block" routerLink="/settings" routerDirection="back">
        Settings
        <ion-icon slot="start" name="cog"></ion-icon>
        </ion-button>
    <ion-button color="warning" expand="block" routerLink="/welcome" routerDirection="back">
      Logout
      <ion-icon slot="start" name="log-out"></ion-icon>
      </ion-button>
  </div>
</ion-content>
