<ion-content class="ion-padding ion-text-center" color="primary">
  <div class="container">
    <div class="page-header">
      <h1>Bine ati venit!</h1>
    </div>

    <img src="/assets/logo.png" class="center">

    <div class="button-container">
      <ion-button expand="block" class="button" color="secondary" routerLink="/login" routerDirection="forward">Login</ion-button>
      <ion-button expand="block" color="secondary" fill="clear" routerLink="/register" routerDirection="forward">Sign Up</ion-button>
    </div>
  </div>
</ion-content>
