.container {
    height: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 30px;
    
}

  
.button-container {
    width: 80%;
    margin-top:15%;
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin-top:15%;
    margin-left: auto;
    margin-right: auto;
}