<ion-header color="primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/dashboard" routerDirection="back">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Profil</h1>

  <div class="profile-info">
    <ion-item>
      <ion-label position="floating">Nume</ion-label>
      <ion-input value="Giangloianu Frasina"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Adresa</ion-label>
      <ion-input value="Str. Aosta Nr.5"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Oras</ion-label>
      <ion-input value="Sinaia"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input value="giangloianu.frasina@gmail.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefon</ion-label>
      <ion-input value="+40720034578"></ion-input>
    </ion-item>
    
    <ion-button expand="block" class="main-button" routerLink="/dashboard" routerDirection="back">Salveaza</ion-button>
  </div>
</ion-content>