.container {
    display: grid;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
}

.form {
    display: grid;
    align-items: center;
    margin-top:30%;
}

.log-in{
    margin-top: 5%;
}