<ion-content class="ion-padding">
  <div class="confirmation">
    <div class="ion-text-center">
      <div>
        <div>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </div>
      </div>
        <h2>Iti multumim!</h2>
        <h2>In cel mai scurt timp veti fi sunat de un operator</h2>
    </div>
  </div>
  <ion-button expand="block" class="main-button" routerLink="/dashboard" routerDirection="back">
    Inapoi
    <ion-icon name="arrow-back" slot="start"></ion-icon>
  </ion-button>
</ion-content>
